.top-line {
    background: #C8A35F;
    height: 45px;
}

.header {
    background: #2F343A;
    height: 100px;
}

.main-bg {
    background: linear-gradient(0deg, rgba(47, 52, 58, 0.75), rgba(47, 52, 58, 0.75)), url(../img/bg.jpg) no-repeat center / cover;
    height: 620px;
}

.main-block {
    width: 920px;
    height: 245px;
    border: 1px solid #C8A35F;
}

.main-header {
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;    
    color: #FFFFFF;
}

.sub-title {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.services {
    background: #393F47;
}

.all-services {
    background: #2F343A;
}

.services-card {
    width: 276px;
    height: 180px;
    background: #393F47!important;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.services-card:hover {
    background: #C8A35F!important;
    color: #2F343A;
}

.services-card svg {
    fill: white;
    z-index: 999;
}

.icon-circle {
    background: #2F343A;
    padding: 15px;
    border-radius: 100%;
}

.services-card:hover svg {
    fill: #C8A35F;
}

.devider {
    width: 90px;
    height: 6px;
    background: #C8A35F;
    margin-bottom: 40px;
}

.services {
    height: 550px;
}
.services-header {
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.services-sub-title {
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

.btn-primary {
    background: #C8A35F!important;
    padding: 10px 40px !important;
    border-color: #C8A35F!important;
    margin-top: 40px;
    text-transform: uppercase;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(200, 163, 95, 0.4)!important;
}